@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
@media screen and (max-width:991px){
    .nav li{
        float:left;
        width:20%;
    }
    article{
        margin-top:10px;
    }
}
@media screen and (max-width:767px){
    .title li{
        width:100%;
    }
    .title li:nth-child(1){
        width:100%;
        height: 266px;
    }
}
a{
    color: #666;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.logo{
    background-color: #429ad9;
}
.logo img{
    display: block;
    max-width:100%;
    margin: 0 auto;
}
.nav{
    background-color: #eee;
}
.nav ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px; 
}
.nav ul li a:hover{
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

.title li{
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.title li:nth-child(1){
    width: 50%;
    height: 266px;
}
.title li:nth-child(1) p{
    line-height: 41px;
    font-size: 24px;
    padding:0 10px;
}
.title li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.title img{
    width: 100%;
    height: 100%;
}
.title li a p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background: rgba(0,0,0,.5);
    color: #fff;
    font-size:12px;
    margin-bottom: 0;
    padding: 5px 10px;
}
.btn{
    border-radius: 0;
}
.text{
    color: #429ad9;
    margin-top: 10px;
}
.hot{
    display: block;
    width: 100%;
    padding: 0 20px;
    border:1px solid #333;
}
.hot p{
    font-size: 12px;
}
.col-md-3 a{
    width: 100%;
}
.col-md-3 a img{
    width: 100%;
    margin-bottom: 20px;;
}
.content img{
    width:100%;
}